.about-section{
    background: url(https://fontmeme.com/images/QUANTUM-BREAK-GAME-FONT_m.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 150px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 30px;
    padding-top: 30px;
    border: 2px solid orange;
    margin-right: 50px;
}
.inner-container:hover{
  box-shadow: 1px 1px 10px 1px orange;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 30px;
       margin-right: 50px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
        margin-right: 0px;

    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 150px 0;
    }
    .inner-container{
        padding: 30px;
    }
}